CompileFlags:
  Add:
    - "-I/nix/store/44rn0p64x92bnnh7cwn6x6ybvflybmvz-python3-3.13.12/include"
    - "-I/nix/store/5xwvdb1gdf1nrn7b41iji2pf9yb45xqm-gdb-16.3/include"
    - "-I/nix/store/s647lrvq645nnpbdzp42rd4css4f3h5x-perf-linux-6.19.10/include"
    - "-I/nix/store/bw7gwzj8g38lz2axm6c799fghsvxwsip-mingw_w64-pthreads-x86_64-w64-mingw32-13.0.0/include"
    - "-I/nix/store/vk7w5jxhvk0amnafwmdk83d2smn86wr9-mcfgthread-x86_64-w64-mingw32-2.1.1-dev/include"
    - "-I/nix/store/ky8rr6hskbg7z5c527dz686mvsx9vwm7-vulkan-headers-1.4.328.0/include"
    - "-I/nix/store/9m0938zahq7kcfzzix4kkpm8d1iz3nmq-libx11-1.8.12-dev/include"
    - "-I/nix/store/082v1jh8kiyfah8vpw203d7dr8dp94an-xorgproto-2024.1/include"
    - "-I/nix/store/q54iipx2bywvh2mgx720k5bsjy1pvf6x-libxcursor-1.2.3-dev/include"
    - "-I/nix/store/hdgpwl0kikj90jn69plkmhn7iap06yr6-libxrandr-1.5.4-dev/include"
    - "-I/nix/store/3rvss3aa0j994jvndf6wbd7llqb6fy3y-libxrender-0.9.12-dev/include"
    - "-I/nix/store/p7fh4lkzjd7m6f7kbhf09i2sw2yg5vl1-libxi-1.8.2-dev/include"
    - "-I/nix/store/v0k5w7pawb7ml41kcgfsg1nirqxxn1w6-libxext-1.3.6-dev/include"
    - "-I/nix/store/jvwb1x0a5x1hhsvzg225r6r8spvl2cf4-libxau-1.0.12-dev/include"
    - "-I/nix/store/1qcjly0zswchwwil65b5cxjaywcjh91c-libxfixes-6.0.2-dev/include"
    - "-I/nix/store/7hhx40b2c2j35f11ms5k6yc5cqblwbmd-libxinerama-1.1.5-dev/include"
    - "-I/nix/store/jnphbvdlb402x8laviqyhm8gwvf5wfi1-wayland-1.24.0-dev/include"
    - "-I/nix/store/1hjwhmhrv1nshdm4n674rrllva5khv5d-wayland-protocols-1.45/include"
    - "-I/nix/store/5c4nsy7c46qa8vr976rmx8r0yd0wfki5-alsa-lib-1.2.14-dev/include"
    - "-I/nix/store/4x8fz7kwrk3q70j68wqcwpxh3y2d3g4r-libudev-zero-1.0.3/include"
    - "-I/nix/store/0y4fs0ahfp4xy1fg3qr87xrv2g665jr4-dbus-1.14.10-dev/include"
    - "-I/nix/store/wvy4w6azmz68v49f4vhg463h06kp8a52-expat-2.7.4-dev/include"
    - "-I/nix/store/1ir5yz7lcn4i464pqr9hpjkbs405vch5-zlib-1.3.2-dev/include"
    - "-I/nix/store/qk8l5pp8amakl3f40znb2k5akv1yqf54-openssl-3.6.1-dev/include"
    - "-I/nix/store/qhnx0rx4qslkfr2y7j6xsp9ylalg0qby-compiler-rt-libc-21.1.7-dev/include"
    - "-I/nix/store/k3qc3y1f6i8g2dgz5z0cf00dj4xc5rrv-gcc-14.3.0/include/c++/14.3.0/"
    - "-I/nix/store/k3qc3y1f6i8g2dgz5z0cf00dj4xc5rrv-gcc-14.3.0/include/c++/14.3.0//x86_64-unknown-linux-gnu"
    - "-I/nix/store/k3qc3y1f6i8g2dgz5z0cf00dj4xc5rrv-gcc-14.3.0/include/c++/14.3.0//backward"
    - "-I/nix/store/k3qc3y1f6i8g2dgz5z0cf00dj4xc5rrv-gcc-14.3.0/lib/gcc/x86_64-unknown-linux-gnu/14.3.0/include"
    - "-I/nix/store/k3qc3y1f6i8g2dgz5z0cf00dj4xc5rrv-gcc-14.3.0/include"
    - "-I/nix/store/k3qc3y1f6i8g2dgz5z0cf00dj4xc5rrv-gcc-14.3.0/lib/gcc/x86_64-unknown-linux-gnu/14.3.0/include-fixed"
    - "-I/nix/store/radp574lyk1l05lccg0i4hj4z1p3ig0m-glibc-2.40-218-dev/include"
  Remove:
    - "-m*"
    - "-W*"
    - "-fno-gnu-unique"
Diagnostics:
  Suppress:
    - "pp_file_not_found"
